---
import HeroSection from "../components/HeroSection.astro";

import CardCategoryLayout from "../layouts/CardCategoryLayout.astro";
---

<div
  class="bg-[#F4F5F7] min-h-screen flex flex-col items-center px-8 space-y-7"
  aria-label="About section"
>
  <HeroSection />
  <div class="mt-8" aria-hidden="true">
    <!-- <ArrowDownIcon className="h-[40px] w-[40px] animate-bounce text-gray-700" /> -->
  </div>
  <section class="w-full text-center mt-8" aria-labelledby="categories-title">
    <h1
      id="categories-title"
      class="font-inter font-semibold text-3xl text-gray-800 mb-8"
    >
      Browse The Category
    </h1>
  </section>

  <section
    id="category"
    class="grid grid-cols-1 md:grid-cols-6 gap-9 px-6"
    aria-labelledby="categories-list"
  >
    <CardCategoryLayout
      img="../../public/assets/frameworks/react.png"
      title="React"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/vue.png"
      title="Vue"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/angular.png"
      title="Angular"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/Vercel.png"
      title="Vercel"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/astroLogo.png"
      title="Astro"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/css.png"
      title="CSS"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/js.png"
      title="JavaScript"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/linux.png"
      title="Linux"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/ia.png"
      title="AI"
    />
    <CardCategoryLayout
      img="../../public/assets/frameworks/code.png"
      title="code curiosity"
    />
  </section>
</div>
