---
import { useContext } from "react";
import { ThemeContext } from "./ToggleTheme";
import { Button } from "../components/Button";
---

<div class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white text-xl font-semibold hover:text-gray-400"
      >FrankDev.blog</a
    >
    <div class="space-x-4">
      <a
        href="/Home"
        class="text-white text-xl font-semibold hover:text-gray-400">Home</a
      >
      <a
        href="/Blog"
        class="text-white text-xl font-semibold hover:text-gray-400">Blog</a
      >
      <a
        href="/Contact"
        class="text-white text-xl font-semibold hover:text-gray-400">Contact</a
      >
    </div>
  </div>
</div>
