---
const navItems = [
  { label: "Blog", href: "/" },
  { label: "About", href: "/about" },
  { label: "Contact", href: "/Contact" },
];
---

<nav
  class="sticky top-0 z-50 bg-white dark:bg-card-dark border-b border-gray-200 dark:border-gray-800"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <a href="/" class="text-2xl font-bold text-gray-900 dark:text-white"
        >FrankDev.blog</a
      >
      <div class="flex items-center space-x-8">
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white font-medium"
            >
              {item.label}
            </a>
          ))
        }
        <button
          id="theme-toggle"
          class="p-2 text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white"
          aria-label="Toggle theme"
        >
          <i class="ph ph-sun light-icon hidden dark:block text-xl"></i>
          <i class="ph ph-moon dark-icon block dark:hidden text-xl"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
