---

---

<section
  class="flex flex-col md:flex-row items-center justify-between w-full max-w-6xl mt-12"
>
  <div class="text-left space-y-6">
    <h1 class="text-5xl font-bold text-gray-800 leading-snug">
      Hi, I'm FrankDev
      <br /> Front End Dev
    </h1>
    <p class="text-gray-600 text-lg max-w-lg">
      On this blog I share tips and tricks, frameworks, projects, tutorials,
      etc. Make sure you subscribe to get the latest updates.
    </p>
    <div class="flex items-center space-x-4">
      <input
        type="email"
        placeholder="Enter your email here..."
        class="px-4 py-2 border rounded-md w-64 focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
      <button
        class="px-6 py-2 bg-[#654aea] text-white rounded-md font-medium hover:bg-[#563ccf]"
      >
        Subscribe
      </button>
    </div>
  </div>
  <div class="mt-8 md:mt-0 md:ml-8">
    <img
      src="../../public/assets/UserImages/picture.png"
      alt="Picture"
      class="w-96 h-auto object-cover rounded-lg"
    />
  </div>
</section>
