---
export interface Props {
  img: string;
  title: string;
}

const { img, title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div
    class="bg-white shadow-lg rounded-lg p-4 flex flex-col items-center justify-center hover:shadow-2xl transition-all cursor-pointer transform hover:scale-105"
  >
    <div
      class="w-28 h-28 flex items-center justify-center bg-gray-100 rounded-full mb-4"
    >
      <img src={img} alt={title} class="w-16 h-16 object-contain" />
    </div>

    <h3 class="font-inter font-semibold text-xl text-gray-800">{title}</h3>
  </div>
</body>
