---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Blog website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css"
    />
    <title>FrankDev</title>
  </head>
  <body class="bg-white dark:bg-background-dark text-gray-900 dark:text-white">
    <Header />
    <slot />
    <script>
      const theme = localStorage.getItem("theme") || "light";
      document.documentElement.classList.toggle("dark", theme === "dark");

      document.getElementById("theme-toggle")?.addEventListener("click", () => {
        const isDark = document.documentElement.classList.toggle("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
      });
    </script>
  </body>
</html>
